.ToDoForm {
    margin: 2rem auto;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.ToDoForm > input {
    width: 100%;
}

.ToDoForm > button {
    width: 8rem;
}

.ToDoList {
    margin: 0 auto;
}

.ToDoList > ul {
    padding-left: 0;
}

.ToDoList > ul > li {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.ToDoList > ul > li > span {
    margin-right: auto;
}
